<div class="container">

  <div class="row" *ngIf="form.dirty && form.invalid" >
    <div class="col-sm-12">
      <div class="alert alert-danger">
          <span>Preencha todos os campos corretamente.</span>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <form #form="ngForm" (ngSubmit)="submitForm(form)" >

        <div class="form-group"
          [class.has-danger]="nome.touched && nome.invalid">
          <label class="form-control-label" for="nome">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            #nome="ngModel"
            [(ngModel)]="cliente.nome"
            required
            minlength="5"
            autocomplete="off" >
          <small
            class="invalid-feedback form-text text-muted"
            *ngIf="nome.touched && nome.hasError('required')">
            Informe um nome
          </small>
          <small
            class="form-control-feedback"
            *ngIf="nome.touched && nome.hasError('minlength')">
            O nome deve ser completo
          </small>
        </div>


        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            #email="ngModel"
            [(ngModel)]="cliente.email"
            required
            email>

          <small
            class="text-danger"
            *ngIf="email.touched && email.invalid">
            Informe um e-mail válido
          </small>
        </div>


        <div class="form-group">
          <label for="profissao">Profissao</label>
          <select
            name="profissao"
            class="form-control"
            id="profissao"
            name="profissao"
            #profissao="ngModel"
            [(ngModel)]="cliente.profissao"
            required >
            <option value="">Selecione Profissão</option>
            <option *ngFor="let profissao of profissoes">
              {{profissao}}
            </option>
          </select>
          <small
            class="text-danger"
            *ngIf="profissao.touched && profissao.invalid">
            Informe uma profissão válida
          </small>
        </div>


        <button type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid"
          >Submit</button>
      </form>
    </div>
  </div>
</div>
